HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/backend/src/test/java/com/francislainy/gatling_tool/HttpRequest.http

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/HttpRequest.http
/index.html
/stats2.json
/index_o.html

/node_modules
/frontend/node_modules/
/frontend/package-lock.json/
/backend/index.html
/backend/stats.json
frontend.iml
.eslintcache
