*:focus {
    outline: none;
}

.iconButton:focus {
    outline: none;
}

table, td, th, tr {
    border-collapse: collapse;
}

.margin10 {
    margin: 10px;
}

.tableReport td {
    text-align: left;
    vertical-align: middle;
}

table input {
    color: black;
}

.tableStats td {
    text-align: center;
    vertical-align: middle;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #ffc107;
    color: #333333;
    padding: 8px 12px 8px 12px;
    border: 1px solid #ffc107;
}

button {
    background-color: #ffc107;
}

select {
    background-color: #ffc107;
}

.tablePagination {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.cardReportInfo {
    width: 18rem;
    margin-left: 10px;
    align-self: baseline;
}
